
// font colors
$color-font-dark: #27374d;
$color-font-grey: #3d4652;
$color-font-light: #f9f5f6;

// background colors
$color-background-light: #f9f5f6;
$color-background-dark: #27374d;
$color-background-danger: #dbaabb;

// button colors
$color-button-primary: #6d8b74;
$color-button-secondary: #27374d;
