@import "../../App.scss";

.homePage {
  .homePage_container {
    min-height: calc(100vh - 75px);
    padding-top: 8rem;
    position: relative;
  }

  .alertBanner {
    background: $background-color-danger;
    top: calc(75px);
    position: absolute;
    min-width: 100%;
    padding: 10px;
    text-align: center;
    color: $font-color-light;
  }
  .followBanner {
    background: $background-color-danger;
    min-width: 100%;
    padding: 10px;
    text-align: center;
    color: $font-color-light;
  }

  .hero_grid {
    padding: 2rem 5rem;
    align-items: center;
  }

  .hero_container_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    align-self: flex-start;
  }

  .hero_heading {
    font-weight: 800;
    font-size: 4em;
    text-transform: uppercase;

    span {
      background: linear-gradient(
        90deg,
        $background-color-danger 25%,
        $primary-button-color 75%
      );
      border-radius: 5px;
      color: $font-color-light;
      padding: 0 0.5rem;
    }
  }

  .hero_sub_heading {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: justify;
  }

  .hero_content {
    padding-left: 1.2rem;
    li {
      list-style-type: disc;
    }
  }

  .hero_button_container {
    margin-top: 1rem;
  }

  .button {
    border-radius: 5px !important;
    margin-right: 2rem;
    font-size: 1em;
    font-weight: 400;
    padding: 1rem 1.5rem;
    border-width: 0px;
    color: $font-color-light;

    &:focus {
      outline: none;
    }

    &.primary {
      background-color: $primary-button-color;
    }

    &.secondary {
      background-color: $secondary-button-color;
    }
  }

  .hero_container_right {
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;

    img {
      max-height: 80vh;
      justify-content: center;
      overflow: hidden;
      filter: drop-shadow(0px 0px 5px $font-color-dark);
    }
  }

  .registerButtonContainer {
    display: flex;
    justify-content: flex-end;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    color: #1a120b;
  }
  @media screen and (max-width: 500px) {
    .heading {
      font-size: 3em !important;
    }

    .heading-02 {
      font-size: 3em !important;
    }

    .departments {
      font-size: 20px !important;
    }

    .department-section {
      margin-bottom: 1em;
    }

    .home-heading {
      margin-bottom: 4em;
    }
  }

  .icons {
    cursor: pointer;
    color: white;
  }

  .instagram:hover {
    color: #c13584;
    cursor: pointer;
  }

  .linkedin:hover {
    color: #0072b1;
    cursor: pointer;
  }
}
