.departments {
  font-weight: 600;
  font-size: 2em;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f79b7a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 6s infinite;
  font-weight: bold;
  background-color: green;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

.heading {
  font-weight: 600;
  font-size: 5em;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 3em !important;
  }

  .heading-02 {
    font-size: 3em !important;
  }

  .departments {
    font-size: 20px !important;
  }

  .department-section {
    margin-bottom: 1em;
  }

  .home-heading {
    margin-bottom: 4em;
  }
}

.heading-02 {
  font-size: 4em;
  color: #ffffff;
}

.sub-heading {
  font-size: 2em;
  color: #ffffff;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #80cbc4; /* safari still uses vendor prefix */
  text-decoration-color: #80cbc4;
}

.icons {
  cursor: pointer;
  color: white;
}

.instagram:hover {
  color: #c13584;
  cursor: pointer;
}

.linkedin:hover {
  color: #0072b1;
  cursor: pointer;
}

.light {
  background: -moz-linear-gradient(
    -45deg,
    #0f62fe 0%,
    #0f62fe 40%,
    #ffffff 50%,
    #0f62fe 60%,
    #0f62fe 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #0f62fe),
    color-stop(40%, #0f62fe),
    color-stop(50%, #ffffff),
    color-stop(60%, #0f62fe),
    color-stop(100%, #0f62fe)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0f62fe 0%,
    #0f62fe 40%,
    #ffffff 50%,
    #0f62fe 60%,
    #0f62fe 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #0f62fe 0%,
    #0f62fe 40%,
    #ffffff 50%,
    #0f62fe 60%,
    #0f62fe 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #0f62fe 0%,
    #0f62fe 40%,
    #ffffff 50%,
    #0f62fe 60%,
    #0f62fe 100%
  );
  background: linear-gradient(
    135deg,
    #0f62fe 0%,
    #0f62fe 40%,
    #ffffff 50%,
    #0f62fe 60%,
    #0f62fe 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f62fe', endColorstr='#0f62fe',GradientType=1 );
  /* background-repeat: no-repeat; */
  background-position: 0px;
  background-size: 300%;
  animation: light 2s;
  -webkit-animation: light 2s;
  animation-iteration-count: infinite;
}

@keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}
