@import "../../App.scss";

.homePage {
  .homePage_container {
    min-height: calc(100vh - 75px);
    padding-top: 4.5rem;
    position: relative;
  }

  .alertBanner {
    background: $background-color-danger;
    min-width: 100%;
    padding: 10px;
    text-align: center;
    color: $font-color-light;
  }
  .followBanner {
    background: $background-color-danger;
    min-width: 100%;
    padding: 10px;
    text-align: center;
    color: $font-color-light;
  }

  .hero_grid {
    padding: 3rem 1rem;
    // padding: 2rem 5rem;
    align-items: center;
  }

  .hero_container_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    align-self: flex-start;
  }

  .hero_heading {
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;

    span {
      background: linear-gradient(
        90deg,
        $background-color-danger 25%,
        $primary-button-color 75%
      );
      border-radius: 5px;
      color: $font-color-light;
      padding: 0 0.5rem;
    }
  }

  .hero_sub_heading {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
  }

  .hero_content {
    padding-left: 1.2rem;
    li {
      list-style-type: disc;
    }
  }

  .hero_button_container {
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    gap: 2rem;
  }

  .button {
    border-radius: 5px !important;
    font-size: 1em;
    font-weight: 400;
    padding: 1rem 1.5rem;
    border-width: 0px;
    color: $font-color-light;

    &:focus {
      outline: none;
    }

    &.primary {
      background-color: $primary-button-color;
    }

    &.secondary {
      background-color: $secondary-button-color;
      margin: 0;
    }
  }

  .dots {
    --dot-size: 3px;
    --dot-space: 22px;
    background: linear-gradient(
          90deg,
          $background-color-light calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          $background-color-light calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      $primary-button-color;
  }

  .hero_container_right {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: relative;
    margin-left: 2rem;

    .img {
      max-height: 70vh;
      justify-content: center;
      overflow: hidden;
      filter: drop-shadow(0px 0px 5px $font-color-dark);
    }

    .svg {
      position: absolute;
      filter: drop-shadow(0px 0px 0px #27374d);
      bottom: 0;
      max-width: 85vh;
    }
  }

  .registerButtonContainer {
    display: flex;
    justify-content: flex-end;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    color: #1a120b;
  }
  @media screen and (min-width: 1055px) {
    .hero_grid {
      padding: 2rem 5rem;
      align-items: center;
    }

    .hero_heading {
      font-weight: 600;
      font-size: 4rem;
      text-align: start;
    }

    .hero_container_right {
      margin: 0;
      margin-left: 2rem;
    }

    .hero_button_container {
      margin-top: 1rem;
      justify-content: start;
      display: flex;
      gap: 2rem;
    }
  }

  .icons {
    cursor: pointer;
    color: white;
  }

  .instagram:hover {
    color: #c13584;
    cursor: pointer;
  }

  .linkedin:hover {
    color: #0072b1;
    cursor: pointer;
  }
}
