.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1em;
  font-weight: 600;
}

.icons {
  margin-right: 3px;
}
.Banner svg:hover {
  fill: #767070 !important;
}
.instagram {
  margin-left: 3px;
}
