@import "../../App.scss";
.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1em;
  font-weight: 600;

  a {
    margin: 0.5rem;
  }
  .icons {
    margin-top: 0.5rem;
    fill: $font-color-light;
  }
}
