.member-heading {
  text-align: center;
  font-weight: 600;
  color: #000;
}

.member-tile {
  border: 1px solid black;
  border-radius: 3px;
}

.member-tile:hover {
  background-color: #b0bec5;
}

.member-heading-board,
.member-heading-volunteers {
  position: relative;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.member-heading-board::before,
.member-heading-board::after,
.member-heading-volunteers::before,
.member-heading-volunteers::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 10%;
  height: 3px;
  content: "\a0";
  background-color: #000;
}

.member-heading-board::before,
.member-heading-volunteers::before {
  margin-left: -11%;
  text-align: right;
}

.member-heading-board::after,
.member-heading-volunteers::after {
  margin-left: 1%;
}

@media screen and (max-width: 1048px) {
  .board_member_row {
    margin-bottom: initial !important;
  }
  .board_member_row .board-members {
    margin-bottom: 2em;
  }
}
