.contact_container {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .contact_grid {
    gap: 2rem;
    // padding: 2rem 5rem;
    padding: 3rem 1rem;
  }

  .heading {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 2rem;
  }

}
