.eventsPageWrapper {
  margin-top: 3rem;
  padding-top: 20px;
  background-color: #266382;
  min-height: calc(100vh - 3rem);
}

.eventsTimeline {
  width: 100%;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  column-gap: 40px;
  row-gap: 20px;
  position: relative;
}
.eventCardContainer {
  transform: translateX(-20px);
  background-color: white;
  border-radius: 10px;
  position: relative;
  grid-template-columns: 2fr 3fr;
  display: grid;
  grid-column-gap: 10px;
  animation: slideLToR 1s forwards;
}
.eventCardContainer::after {
  opacity: 0;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #e2e2e2;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  z-index: 2;
  animation: visibility 1s forwards;
}
.eventsTimeline::after {
  content: "";
  width: 10px;
  height: 100%;
  background-color: #e2e2e2;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
}

.img-wrapper {
  position: relative;
  flex: 1 1;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.content-wrapper {
  padding: 20px;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-wrapper .eventHeading {
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 5px;
}

.content-wrapper .eventSubHeading {
  font-weight: 600;
  font-size: 20px;
  color: #676767;
}
.content-wrapper .location,
.content-wrapper .time {
  /* font-weight: 600; */
  font-size: 15px;
  font-weight: 600;
}

.locationAndTimeContainer{
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.content-wrapper .eventDescription {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.right {
  animation: slideRToL 1s forwards;
  grid-column-start: 2;
  background-color: #e2e2e2;
}

.eventCardContainer.right::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  z-index: 1;
}

.title {
  color: #fff;
  font-size: 5em;
  font-weight: 600;
  padding: 0 20px;
  overflow-wrap: break-word;
}

@keyframes slideLToR {
  0% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}
@keyframes slideRToL {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}
@keyframes visibility {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* For mobile screens */
@media  (max-width: 600px){
  .eventsTimeline{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .eventsTimeline::after {
    display: none;
  }
  .eventCardContainer::after {
    display: none;
  }
  .eventsPageWrapper {
    overflow: hidden;
  }
  .title {
    font-size: 2.5em;
  }
  .eventCardContainer{
    display: flex;
    flex-direction: column;
  }

  .img-wrapper {
    border-radius: 5px 5px 0 0;
  }
  .img-wrapper > .carousel-container {
    min-height: 200px;
  }
}
