@use "./utils/styles/mixins" as *;
@use "./utils/styles/variables" as *;

.enggApp {
  background-color: $color-background-light;
  color: $color-font-dark;
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

  .button_primary {
    @include button(primary)
  }

  .footer {
    background: $color-background-dark;
    color: $color-font-light;
    padding: 1.5rem;
    font-weight: 500;
    line-height: 20px;
    position: relative;

    .link {
      background-color: $color-background-light;
      border-radius: 3rem;
      padding: 0.3rem;
      color: $color-font-dark;
    }
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: $color-background-light;
    background: $color-button-primary;
  }

  ::selection {
    color: $color-background-light;
    background: $color-button-primary;
  }
}
