@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@layer base {
  html {
    --line-color: #e5e7eb;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Bebas Neue", sans-serif;
  }
}

@layer components {
  .bento {
    grid-template-rows: repeat(3, 250px);
  }

  .about-bg {
    /* background-image: url("./assets/Events/GroupPhoto.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    .header-bg {
      @apply bg-inherit shadow-none backdrop-blur-0;
    }
  }

  @media screen and (max-width: 1023px) {
    .bento {
      grid-template-rows: repeat(3, 180px);
    }
  }

  @media screen and (max-width: 767px) {
    .header-bg {
      @apply rounded-lg bg-[#ffffff80] shadow-2xl shadow-gray-400 backdrop-blur-xl;
    }

    .bento {
      grid-template-rows: repeat(3, 100px);
    }
  }
}

@layer utilities {
  .btn-accent {
    @apply text-nowrap rounded-full border-2 border-accent-600 bg-accent-600 px-4 py-2.5 font-bold text-white transition-colors duration-300 ease-in-out hover:border-accent-500 hover:bg-accent-500 focus:border-accent-500 focus:bg-accent-500 sm:px-6;
  }

  .btn-primary {
    @apply text-nowrap rounded-full border-2 border-slate-400 bg-white px-4 py-2.5 transition-colors duration-300 ease-in-out hover:border-accent-500 hover:bg-accent-500 hover:text-white focus:border-accent-500 focus:bg-accent-500 focus:text-white sm:px-6;
  }

  .hero-height {
    height: calc(100svh - 100px);
  }

  @media screen and (max-height: 540px) {
    .hero-height {
      height: auto;
    }
  }
}
